<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer class="main">


    <div class="container pb-30 wow fadeIn animated">
        <div class="row align-items-center">
            <div class="col-12 mb-30">
                <div class="footer-bottom"></div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <p class="font-sm mb-0">
                    <br>屋房租赁管理系统</p>
            </div>
            <div class="col-xl-4  col-lg-6 text-center d-none d-xl-block">
                <div class="hotline d-lg-inline-flex mr-30">
                    <img src="static/picture/phone-call.svg" alt="hotline">
                    <p>1900 - 6666<span>Working 8:00 - 22:00</span></p>
                </div>
                <div class="hotline d-lg-inline-flex">
                    <img src="static/picture/phone-call.svg" alt="hotline">
                    <p>1900 - 8888<span>24/7 Support Center</span></p>
                </div>
            </div>

        </div>
    </div>
</footer>
</html>