<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>系统后台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description"/>
    <meta content="Themesdesign" name="author"/>
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- Bootstrap Css -->
    <link href="assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css"/>
    <!-- Icons Css -->
    <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css"/>
    <!-- App Css-->
    <link href="assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css"/>

</head>
<body>

<!-- Begin page -->
<div id="layout-wrapper">
    <div th:include="home/menu"></div>



        <div class="main-content">

            <div class="page-content">

                <!-- start page title -->
                <div class="page-title-box">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <div class="page-title">
                                    <h4>系统后台</h4>
                                    <ol class="breadcrumb m-0">

                                        <li class="breadcrumb-item active">房屋价格统计</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="float-end d-none d-sm-block">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->


                <div class="container-fluid">
                    <div class="page-content-wrapper">
                        <div class="row">
                            <div class="col-xl-9 mx-auto" style="width: 100%">
                                <div class="card" style="width: 1800px">


                                    <div id="main1" class="chart-container" style="width:1000px; height:800px; "></div>


                                </div>

                            </div>

                        </div>
                    </div>


                </div>


            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->



</div>

<!--列表页面的-->
<!-- Required datatable js -->
<script th:src="@{/assets/libs/jquery/jquery.min.js}" charset="utf-8"></script>

<script th:src="@{/assets/libs/datatables.net/js/jquery.dataTables.min.js}" charset="utf-8"></script>
<script th:src="@{/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js}" charset="utf-8"></script>
<!-- Buttons examples -->
<script th:src="@{/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js}" charset="utf-8"></script>
<script th:src="@{/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js}" charset="utf-8"></script>
<script th:src="@{/assets/libs/jszip/jszip.min.js}" charset="utf-8"></script>
<script th:src="@{/assets/libs/pdfmake/build/pdfmake.min.js}" charset="utf-8"></script>
<script th:src="@{/assets/libs/pdfmake/build/vfs_fonts.js}" charset="utf-8"></script>
<script th:src="@{/assets/libs/datatables.net-buttons/js/buttons.html5.min.js}" charset="utf-8"></script>
<script th:src="@{/assets/libs/datatables.net-buttons/js/buttons.print.min.js}" charset="utf-8"></script>
<script th:src="@{/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js}" charset="utf-8"></script>
<!-- Responsive examples -->
<!-- Datatable init js -->
<script th:src="@{/assets/js/pages/datatables.init.js}" charset="utf-8"></script>

<script th:src="@{/assets/libs/sweetalert2/sweetalert2.min.js}" src=""></script>
<script th:src="@{/assets/js/pages/sweet-alerts.init.js}" src=""></script>



<!--列表页面的-->
<!-- Required datatable js -->
<script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>
<script>
    $.ajax({
        type: "post",
        async: true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
        url: "BrandEcharts",    //请求发送到dataActiont处
        data: {},
        dataType: "json",
        success: function (data) {
            if (data){
                var box = []
                for(var i=0;i<data.length;i++){
                    var onedata = {"value":"","name":""};
                    onedata.name = data[i].names
                    onedata.value = data[i].counts
                    box.push(onedata);
                }
                var chart_main1 = echarts.init(
                    document.getElementById('main1'), 'white', {renderer: 'canvas'});
                var option_main1 = {
                    "animation": true,
                    "animationThreshold": 2000,
                    "animationDuration": 1000,
                    "animationEasing": "cubicOut",
                    "animationDelay": 0,
                    "animationDurationUpdate": 300,
                    "animationEasingUpdate": "cubicOut",
                    "animationDelayUpdate": 0,
                    "aria": {
                        "enabled": false
                    },
                    "color": [
                        "#5470c6",
                        "#91cc75",
                        "#fac858",
                        "#ee6666",
                        "#73c0de",
                        "#3ba272",
                        "#fc8452",
                        "#9a60b4",
                        "#ea7ccc"
                    ],
                    "series": [
                        {
                            "type": "pie",
                            "colorBy": "data",
                            "legendHoverLink": true,
                            "selectedMode": false,
                            "selectedOffset": 10,
                            "clockwise": true,
                            "startAngle": 90,
                            "minAngle": 0,
                            "minShowLabelAngle": 0,
                            "avoidLabelOverlap": true,
                            "stillShowZeroSum": true,
                            "percentPrecision": 2,
                            "showEmptyCircle": true,
                            "emptyCircleStyle": {
                                "color": "lightgray",
                                "borderColor": "#000",
                                "borderWidth": 0,
                                "borderType": "solid",
                                "borderDashOffset": 0,
                                "borderCap": "butt",
                                "borderJoin": "bevel",
                                "borderMiterLimit": 10,
                                "opacity": 1
                            },
                            "data":
                            /*数据来源*/

                            box,



                            "radius": [
                                "0%",
                                "75%"
                            ],
                            "center": [
                                "40%",
                                "50%"
                            ],
                            "label": {
                                "show": true,
                                "margin": 8,
                                "formatter": "{b}: {c}"
                            },
                            "labelLine": {
                                "show": true,
                                "showAbove": false,
                                "length": 15,
                                "length2": 15,
                                "smooth": false,
                                "minTurnAngle": 90,
                                "maxSurfaceAngle": 90
                            },
                            "rippleEffect": {
                                "show": true,
                                "brushType": "stroke",
                                "scale": 2.5,
                                "period": 4
                            }
                        }
                    ],
                    "legend": [
                        {

                            "selected": {},
                            "type": "scroll",
                            "show": true,
                            "left": "80%",
                            "orient": "vertical",
                            "padding": 5,
                            "itemGap": 10,
                            "itemWidth": 25,
                            "itemHeight": 14,
                            "backgroundColor": "transparent",
                            "borderColor": "#ccc",
                            "borderWidth": 1,
                            "borderRadius": 0,
                            "pageButtonItemGap": 5,
                            "pageButtonPosition": "end",
                            "pageFormatter": "{current}/{total}",
                            "pageIconColor": "#2f4554",
                            "pageIconInactiveColor": "#aaa",
                            "pageIconSize": 15,
                            "animationDurationUpdate": 800,
                            "selector": false,
                            "selectorPosition": "auto",
                            "selectorItemGap": 7,
                            "selectorButtonGap": 10
                        }
                    ],
                    "tooltip": {
                        "show": true,
                        "trigger": "item",
                        "triggerOn": "mousemove|click",
                        "axisPointer": {
                            "type": "line"
                        },
                        "showContent": true,
                        "alwaysShowContent": false,
                        "showDelay": 0,
                        "hideDelay": 100,
                        "enterable": false,
                        "confine": false,
                        "appendToBody": false,
                        "transitionDuration": 0.4,
                        "textStyle": {
                            "fontSize": 14
                        },
                        "borderWidth": 0,
                        "padding": 5,
                        "order": "seriesAsc"
                    },
                    "title": [
                        {
                            "show": true,
                            "text": "房屋类型统计",
                            "target": "blank",
                            "subtarget": "blank",
                            "padding": 5,
                            "itemGap": 10,
                            "textAlign": "auto",
                            "textVerticalAlign": "auto",
                            "triggerEvent": false
                        }
                    ]
                };
                chart_main1.setOption(option_main1);
            }
            else {
                alert("数据无！");
            }
        }
    })
</script>

</body>
</html>
